Config/*.json
Config/config.json
Config/favorites.json
Docs/Artists.md

# Nuitka Build and Distribution
DistBin/*
!DistBin/installer.iss
!DistBin/Build&SetupCode.md
*.build/
*.dist/

# Requriements (büyük binary dosyalar)
Requriements/*.exe
Requriements/*.dll
Requriements/plugins/

__pycache__/
*.pyc